# Ignore VSCode
.vscode

# Ignore Python cache and prebuilt things
.cache
__pycache__
*.egg-info
*.pyc
build
dist

# Ignore the Environment
env
.tox

# Ignore coverage reports
.coverage
.coverage.*
coverage.xml
