---

yaml-files:
  - '*.yaml'
  - '*.yml'
  - '.yamllint'

rules:
  brackets: disable
  line-length: disable
  truthy:
    # In general we prefer true flase but codecov uses yes/no
    allowed-values: ['true', 'false']
    check-keys: false  # .github workflow uses on (but not as a truthy value)
