# Used for finding os-specific application config dirs
appdirs
# Cached property for performance gains
cached-property
# To get the encoding of files.
chardet
click>=7.1
colorama>=0.3
# Used for diffcover plugin
diff-cover>=2.5.0
# importlib_metadata backport for python 3.7
importlib_metadata; python_version < '3.8'
Jinja2
# oyaml is like pyyaml but preserves orderings
oyaml
# Used for .sqlfluffignore
pathspec
# We provide a testing library for plugins in sqlfluff.testing
pytest
# The new regex module to allow for more complex pattern matching,
# whilst remaining backwards compatible with existing regex use cases.
# e.g. capturing repeated groups in nested tsql block comments.
# This was introduced in https://github.com/sqlfluff/sqlfluff/pull/2027
# and further details can be found in that PR.
regex
# For returning exceptions from multiprocessing.Pool.map()
tblib
# For parsing pyproject.toml
toml
# For handling progress bars
tqdm
# better type hints for older python versions
typing_extensions
