# Install with -U to keep all requirements up-to-date
# code linting and formatting
flake8
flake8-docstrings
# Black 22.1 has a fatal bug when used with flake8-black and dbt, so cap it for now
# to the last known stable version (ironically labelled beta until this settles.
# See https://github.com/sqlfluff/sqlfluff/pull/2513
black<=21.12b0
# flake8-black needs 0.2.4 for black 22.1
# (which we are not using yet but lets pin min version for future)
flake8-black>=0.2.4
# documentation checks
doc8
Pygments
# testing
git+https://github.com/nedbat/coveragepy@nedbat/fix-1310
hypothesis
pytest
pytest-cov
pytest-sugar
pytest-xdist
# MyPy
mypy
types-toml
types-pkg_resources
types-chardet
types-appdirs
types-colorama
types-pyyaml
types-regex
# Requests is required for the util script
requests
yamllint
