# Install with -U to keep all requirements up-to-date
# code linting and formatting
flake8
flake8-docstrings
flake8-black;implementation_name!="pypy"
# documentation checks
doc8
Pygments
# testing
coverage
hypothesis
pytest
pytest-cov
pytest-sugar
# MyPy
mypy;implementation_name!="pypy"
typing_extensions;implementation_name!="pypy"
