click>=7.1
colorama>=0.3
configparser
cached-property
# bench-it is used while profiling
bench-it
# oyaml is like pyyaml but preserves orderings
oyaml
Jinja2
diff-cover>=2.5.0
# pathspec handles the .sqlfluffignore file
pathspec
pytest
appdirs
# dataclasses backport for python 3.6
dataclasses; python_version < '3.7'
