click>=7.1
colorama>=0.3
configparser
# bench-it is used while profiling
bench-it
# oyaml is like pyyaml but preserves orderings
oyaml
Jinja2
diff-cover>=2.5.0,<3.0
# pathspec handles the .sqlfluffignore file
pathspec
pytest
