name: Publish dbt templater PyPI Version

on:
  release:
    types:
      - published
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: |
            requirements_dev.txt
            pyproject.toml
            constraints/*.txt

      - name: Install Dependencies
        run: |
          uv pip install --system --upgrade tox tox-uv

      - name: Build Distribution (dbt plugin)
        # tox commands run relative to the repo root.
        run: tox -e build-dist -- plugins/sqlfluff-templater-dbt

      - name: Copy builds to main dist folder
        # We move them here so that the github action can still access them
        run: cp -r plugins/sqlfluff-templater-dbt/dist/. dist/

      - name: Publish Python distribution to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_DBT_TEMPLATER_TOKEN }}
          skip-existing: true
