name: Publish SQFluff PyPI Version

on:
  release:
    types:
      - published
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1
      - uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: |
            requirements_dev.txt
            pyproject.toml
            constraints/*.txt

      - name: Install Dependencies
        run: |
          uv pip install --system --upgrade tox tox-uv

      - name: Build Distribution (Core)
        run: tox -e build-dist

      - name: Publish Python distribution to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
          skip-existing: true
